<!-- <ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="square-jelly-box"
  [fullScreen]="true"
  [zIndex]="9999">
  <p style="color: white; font-weight: bold;">Loading...</p>
</ngx-spinner> -->


<nav>
  <div class="header">
    <img src="assets/img/UPM_LOGO.png" alt="UPM Logo">
    <h1>University of the Philippines Mindanao</h1>
    <p>through UP Mindanao Gender and Development Office (UPMin GAD)</p>
  </div>

  <div class="content">
    <div class="card">
      <img class="u-logo" src="assets/img/Logo.jpg" alt="Logo">
      <h3 class="mt-3">GPIS</h3>
      <p>Gender Portal Information System</p>

      <button id="google-btn" class="btn btn-custom mt-3" (click)="login()">
        <img src="https://img.icons8.com/color/22/000000/google-logo.png" alt="Google Logo">
        Sign in with Google
      </button>
    </div>

    <div class="card">
      <h2>About Us</h2>
      <h6 class="fw-bold">Mission</h6>
      <p>Empowering gender inclusivity through innovative digital solutions and community engagement.</p>

      <h6 class="fw-bold">Vision</h6>
      <p>To be a leading platform promoting gender equity and development in the academic community.</p>
    </div>
  </div>

  <footer>
    <p>UP MINDANAO | Gender Portal Information System v1.0.0 | <a href="#">Changelog</a></p>
  </footer>
</nav>
